
<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>
	<head>
		<!-- <title>Generic - Urban by TEMPLATED</title> -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<!-- <div class="logo"><a href="index.html">Urban <span>by TEMPLATED</span></a></div> -->
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href = "/index">Home</a></li>
					<li><a href = "/about">About the Project</a></li>
					{% if current_user.is_anonymous %}
					<li><a href="/login">Login</a></li>
					{% else %}
					<li><a href="/logout">Logout</a></li>
					{% endif %}
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">
        <section id="banner">
          <div class="inner">
            <header>
              <h1>Hello {{ user_data.firstname.values[0] }}!</h1>
              <p>Welcome Back to Root Cellar!</p>
            </header>
          </div>
        </section>

				<section class="wrapper style1">
					<div class="inner">
						<!-- 2 Columns -->
							<div class="flex flex-1">
							<div class="col col1">
								<h2>User Profile Information</h2>
								<ul class="links">
								 <li>Gender: </li>
								 <!-- TODO -->
                 <!-- Add recipies and the ingredient list -->
                 <!-- Display the recipe ID, ingredients and the macros -->
                 <!-- Add False Button for subsitition option (?) -->
                 <!-- Disply the visualizations Mike creates   -->
							 </ul>
									<a href = "/preference_survey" class="button">Edit My Preferences</a>
								</div>
							</div>
						</div>
				</section>


        <section>
          <h2>{{ df.recipe_name[0] }} </h2>
          <p>Recipies</p>
          <p>{{ df_list }}</p>

        </section>

					<!-- Radar and Bar Plots - Add from Python Images -->
						<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
							<div class="flex flex-1">
								<div class="col align-center">
									<div class="image square fit">
										<img src="{{ url_for('static', filename='images/test_radar.png') }}" alt="" />
									</div>
									<p>Radar Plot Image</p>

						<div class="inner">
							<!-- 2 Columns -->
							<div class="flex flex-1">
								<div class="col align-center">
									<div class="image square fit">
										<img src="{{ url_for('static', filename='images/test_stacked_barplot.png') }}" alt="" />
									</div>
									<p>Bar Plot Image</p>
								</div>
						</div>

						</section>

       <p>

			</div>
	</body>
</html>
