
<!DOCTYPE HTML>
<head>
  <title>RootCellar: About the Project</title>
</head>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href = "/index">Home</a></li>
					<li><a href = "/about">About the Project </a></li>
					{% if current_user.is_anonymous %}
					<li><a href="/login">Login</a></li>
					{% else %}
					<li><a href="/user_profile">User Profile</a></li>
					<li><a href="/logout">Logout</a></li>
					{% endif %}
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper">
						<div class="inner">
							<header class="align-center">
								<h1>About The Project</h1>
								<p>Anjali Kayal, Mike Gruzinski, Max Lee & Maura Cullen </p>
							</header>
							<div class="flex flex-2">
								<div class="col col2">
									<h3>The Project</h3>
									<p>The "Root Cellar" project is the final capstone project for Univeristy of Caifornia, Berkeley Masters of Information
											and Data Science. Our goal is to make an easy to use meal-plan and pantry to make nutitional eating easier.  A more concsientous, data-driven
											approach to weekly menu planning and cart sourcing not only encourages a more data-drven nutritional effort but also can lead to less waste.</p>

									<p>The concept of this platform was created by team leader, Mike Gruzinski, as a pitch for a capstone project in the Berkeley MIDS program.  The
										project requirements are relatively sparse and allow the team to develop from scratch a Data Science product over the course of 12 weeks.</p>

									<p> Below are a couple of quick summaries that detailed what went into the project. </p>
									<ul>
										<li><strong>Data Sources</strong></li>

										<ul style="list-style-type:circle">
											<li> Macronutrients </li>
											<ul>
												<li> <a href="https://mybodymykitchen.com"><font color='blue'> <u>https://mybodymykitchen.com </u></font> </a> </li>
												<li> <a href="https://www.healthline.com"> <font color='blue'> <u>https://www.healthline.com </u></font></a> </li>
												<li> <a href="https://www.livestrong.com"><font color='blue'> <u>https://www.livestrong.com </u></font></a> </li>
												<li> <a href="http://healthyeating.sfgate.com"> <font color='blue'> <u>http://healthyeating.sfgate.com </u></font></a> </li>
												<li> <a href="https://www.today.com"> <font color='blue'> <u> https://www.today.com </u></font></a> </li>
												<li> <a href="https://bmi-calories.com"><font color='blue'> <u> https://bmi-calories.com </u></font></a> </li>
											</ul>
											<li> Micronutrients </li>
											<ul>
												<li> <a href = "https://medlineplus.gov"> <font color='blue'> <u> https://medlineplus.gov </u></font></a> </li>
												<li> <a href="https://www.webmd.com"> <font color='blue'> <u>  https://www.webmd.com </u></font></a> </li>
												<li> <a href="https://draxe.com"><font color='blue'> <u> https://draxe.com </u></font></a> </li>
												<li> <a href="https://www.ncbi.nlm.nih.gov"> <font color='blue'> <u> https://www.ncbi.nlm.nih.gov </u></font> </a> </li>
												<li> <a href = "http://eschooltoday.com"> <font color='blue'> <u> http://eschooltoday.com </u></font></a> </li>
											</ul>
											<li> Nutritional Database </li>
											<ul>
												<li>  <a href = "https://ndb.nal.usda.gov/ndb/nutrients/index"><font color='blue'> <u>  https://ndb.nal.usda.gov/ndb/nutrients/index </u></font></a> </li>
											</ul>
											<li> Recipes </li>
											<ul>
												<li> <a href = "https://github.com/tabatkins/recipe-db"> <font color='blue'> <u> https://github.com/tabatkins/recipe-db </u></font> </a></li>
												<li> <a href = "https://www.epicurious.com/"> <font color='blue'> <u> https://www.epicurious.com/ </u></font> </a></li>
												<li> <a href = "https://www.allrecipes.com/"> <font color='blue'> <u> https://www.allrecipes.com/ </u></font> </a></li>
											</ul>
										</ul>

										<li><strong>Algorthims and elements of Data Science Used</strong></li>

										<ul style="list-style-type:circle">
												<li> Data ETL </li>
												<ul>
													<li> Recipes have fuzzy language for recipes.  Lack of consistency in measurements, ingredients, etc. make linkage
														to nutritional database hard if the recipe format was not standard.
													</li>
												</ul>
												<li> Principal Component Analysis (PCA)</li>
													<ul>
														<li> Helps understand the different nutritional space categories of food i.e beef vs chicken vs legumes vs fruits, etc.,
															based on nuritional features.
														</li>
													</ul>
												<li> Neural Net - CBOW</li>
													<ul>
														<li> Used for ingredient linkage to data.gov nutrition database.</li>
														<li> We attempted to use linear and nonlinear machine learning alorithms
																(logistic regression, random forests, SVM, gradient boost) to link an ingredient item to the database
																ingredient list sentence was very non linear (i.e. asparagus washed in water, chicken with skin on, skinless boneless chicken…)
																and all machine learning algorithms were getting an accuracy around ~80%.
														</li>
														<li> CBOW neural net helped push accuracy of predicting recipes to 95 percent </li>
														<li> When recipe fails tag in CBOW-NN it fails softer than linear models and stays within a similar category.</li>
													</ul>
												<li> Archive-based Micro Genetic Algorithm (AMGA) </li>
													<ul>
														<li> For multi-objective optimization (i.e. optimize loss function of important macro and micronutrients).  </li>
														<li> Input of the user is how many meals a week do you want the algorithm to feed you.</li>
														<li> After recipe filter is applied (removes recent recipes and food items you don't like) it will go through and optimize loss function of combination of recipes that make up your meal plan. </li>
														<li> Genetic algorithm was used because it was a discrete mathematical space with many different combinations of recipes.  </li>
													</ul>
										</ul>

										<li><strong>User Feedback</strong></li>

										<ul style="list-style-type:circle">
											<li> Team completed user evaluations at the onset of the project to to steer product development and goals.</li>
											<li> These initial user evaluations shifted focus to value nutrition and meal planning from price and budgeting and led to a
												focus on implementing a system with low start-up and maintenance costs. </li>
											<li> Over the course of MVP and UI development, the team has conducted (and continues to conduct) additional user evaluations to test the UI and models.</li>
											<li> These user tests have helped identify opportunities to streamline UI to make it more intuitive for users as well as identified opportunities to
												improve the underlying model and features.  </li>
											<li>  Users like the ability to customize their meal planning to their dietary needs and health requirements and are also excited by having everything (recipe, shopping cart, etc.) in one place.</li>
										</ul>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a class="link"><img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" /></a>
									</div>
								</div>
							</div>
							<p><strong> Hope this impact project impacts:</strong></p>
							<ul style="list-style-type:circle">
								<li>Why pay a broker for recipe suggsestions that don't fit in your nutritional space?  Services like Blue Apron and Hello Fresh
									produce lower quality items and recipes that are not optimized for individual needs.  Root Cellar automatically chooses a meal plan and aggregated
									food list so you don't have to think about what to buy and how much of it.
								</li>
								<li> Enable consumers to efficiently find recipes and create meals that maximize nutrients and taste preferences based on survey information.</li>
								<li>Reduce food waste by building a meal plan that optimizes utilization of ingredients in their pantry and supplements with e-grocery cart.</li>
								<li>Aid education and research as a tool to study how different diets and individual food plans alter when changing macro nutrients and quantities.</li>
								<li>Assist restaurants, caterers, and other industry players as a tool to create seasonal menus.</li>
								<li>Enable Health Care Practictioners to monitor patients nutrient intake and suggest potential options to redirect patients.</li>
							</ul>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Creators of Root Cellar</h2>
								<p>About the Team</p>
							</header>
							<div class="flex flex-4">
								<div class="col align-center">
									<div class="image round fit">
										<img src="{{ url_for('static', filename='images/anjali.jpg') }}" alt="" />
									</div>
									<p><strong>Anjali Kayal</strong></p>
									<p>blah blah blah </p>
									<a href="https://www.linkedin.com/in/anjalikayal/" class="button">LinkedIn</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="{{ url_for('static', filename='images/pic05.jpg') }}" alt="" />
									</div>
									<p><strong>Mike Gruzinski</strong></p>
									<p>blah blah blah </p>
									<a href="#" class="button">LinkedIn</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="{{ url_for('static', filename='images/max.jpg') }}" alt="" />
									</div>
									<p><strong>Max Lee</strong></p>

									<p>After graduation from Rice University with a Masters of Statistics, Max joined Bank of America Merrill Lynch as a trader on the commodity index desk.  He now leads the delta 1
											trading team with a focus on commodity futures and options as well as FX forwards and futures. </p>


								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" />
									</div>
									<p><strong>Maura Cullen</strong></p>
									<p>blah blah blah </p>
									<a href="#" class="button">LinkedIn</a>
								</div>
							</div>
						</div>
					</section>

			</div>

	</body>
</html>
