
<!DOCTYPE HTML>

<html>
	<head>
		<title>RootCellar: Scale Recipe</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href = "/index">Home</a></li>
					<li><a href = "/about">About the Project</a></li>
					{% if current_user.is_anonymous %}
					<li><a href="/login">Login</a></li>
					{% else %}
					<li><a href="/user_profile">User Profile</a></li>
					<li><a href="/recipe_recommendation">Edit Recipes Plan</li>
					<li><a href="/shopping_list">Shopping List</a></li>
					<li><a href="/logout">Logout</a></li>
					{% endif %}
				</ul>
			</nav>

		<!-- Main -->
		<section>
		<div class="inner">
			<!-- 2 Columns -->
				<div class="flex flex-1">
				<div class="col col1">
					<h3>Customize Serving Size</h3>
					<a href = "/rerun_recipe_plan" class="button">Generate New Meal Plan</a>
					<a href = "/recipe_recommendation" class="button">Personalize Recipes and Ingredients</a>
					<!-- <a href = "/display_recipe" class="button">See My Recipes</a> -->
					<a href = "/shopping_list" class="button">See My Shopping List</a>
				</div>
			</div>
		</div>
				<div class="inner">
					<div class="flex flex-1">
					<div class="col col1">
						<div style="float: left; width: 100%;">
							<h2>{{recipe_id}}</h2>
						</div>
					</div>
					</div>
				</div>
			</section>
<!-- Plotly.js -->
				<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
				<script>
				  var radar_data_macro = {{ radar_data_macro|tojson }};
				  var radar_layout_macro = {{ radar_layout_macro|tojson }};
				</script>
				<body>
					<h1></h1>
					<h3>Macronutrients Personalized Recipe Radar Plot</h3>
				  <div id="macroMealPlanRadar"><!-- Plotly chart will be drawn inside this DIV --></div>
				  <script>
					Plotly.plot("macroMealPlanRadar", radar_data_macro, radar_layout_macro)
				  </script>
				  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
				  <script>
				    var bar_data_macro = {{ bar_data_macro|tojson }};
				    var bar_layout_macro = {{ bar_layout_macro|tojson }};
				  </script>
            <body>
				  	<h1></h1>
				  	<h3>Whats makes up the recipe</h3>
				    <div id="barSingle"><!-- Plotly chart will be drawn inside this DIV --></div>
				    <script>
				  	Plotly.plot("barSingle", bar_data_macro, bar_layout_macro)
						</script>
					</body>
				</body>
				<section class="wrapper style1">
				<div class="inner">
					<!-- 2 Columns -->
						<div class="flex flex-1">
						<div class="col col1">
						<div>
							<h5>{{df_show | safe}}</h5>
							{{ instructions }}
						</div>
					</div>
					</div>
				</div>
			</section>
       <p></p>
				<!-- {{ ingredient_list }} -->
			<div class="inner">
			 <a href = "/user_profile" class="button">Back to User Profile</a>
			 <a href = "/recipe_center" class="button">Back to Recipe Center</a>
			 </head>
		 </div>
 </div>

	</body>
</html>
