
<!DOCTYPE HTML>
<html>
	<title>RootCellar: Register</title>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href = "/index">Home</a></li>
					<li><a href = "/about">About the Project </a></li>
					{% if current_user.is_anonymous %}
					<li><a href="/login">Login</a></li>
					{% else %}
					<li><a href="/user_profile">User Profile</a></li>
					<li><a href="/logout">Logout</a></li>
					{% endif %}
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper">
							<div class="inner">
									<header class="align-center">
										<h1>Register</h1>
									</header>
									<form action="" method="post" class="align-center">
                                            {{ form.hidden_tag() }}
                                            <p>
                                                {{ form.username.label() }}<br>
                                                {{ form.username(size=32, autocomplete="off") }}<br>
                                                {% for error in form.username.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </p>
                                            <p>
                                                {{ form.email.label }}<br>
                                                {{ form.email(size=64, autocomplete="off") }}<br>
                                                {% for error in form.email.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </p>
                                            <p>
                                                {{ form.password.label }}<br>
                                                {{ form.password(autocomplete="off", size=22) }}<br>
                                                {% for error in form.password.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </p>
                                            <p>
                                                {{ form.password2.label }}<br>
                                                {{ form.password2(size=32, autocomplete="off") }}<br>
                                                {% for error in form.password2.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </p>
                                            <p>{{ form.submit() }}</p>

									</form>
							</div>

					</section>

			</div>

	</body>
</html>
