
<!DOCTYPE HTML>

<html>
	<head>
		<title>RootCellar: My Shopping List</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href = "/index">Home</a></li>
					<li><a href = "/about">About the Project</a></li>
					{% if current_user.is_anonymous %}
					<li><a href="/login">Login</a></li>
					{% else %}
					<li><a href="/user_profile">User Profile</a></li>
					<li><a href="/logout">Logout</a></li>
					{% endif %}
				</ul>
			</nav>

		<!-- Main -->
				<section class="wrapper style1">
					<div class="inner">
						<!-- 2 Columns -->
							<div class="flex flex-1">
							<div class="col col1">
								<h1>{{ user_data.firstname.values[0] }}'s Shopping List</h1>
								<h1></h1>
								<div>
									<h5>{{df_show | safe}}</h5>
								</div>
								<!-- <div style="float: left; width: 100%;">
										<ul>
											{% for ingredient in ingredient_list %}
												<li> {{ ingredient }} </li>
											{%endfor%}
										</ul>
								</div> -->
       <p></p>
				<!-- {{ ingredient_list }} -->
				<a href = "/recipe_center" class="button">Back to Recipe Center</a>
			  <a href = "/user_profile" class="button">Back to User Profile</a>

			</div>
	</body>
</html>
