
<!DOCTYPE HTML>
<!-- TODO: Update this page -->

<html>
	<title>RootCellar: Ingredient Subsitution</title>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<!-- <div class="logo"><a href="index.html">Urban <span>by TEMPLATED</span></a></div> -->
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href = "/index">Home</a></li>
				<li><a href = "/about">About the Project </a></li>
				{% if current_user.is_anonymous %}
				<li><a href="/login">Login</a></li>
				{% else %}
				</li><a href="/user_profile">User Profile</a></li>
				<li><a href="/recipe_recommendation">Recipe Selection</a></li>
				<li><a href="/shopping_list">Shopping List</a></li>
				<li></li><a href="/logout">Logout</a></li>
				{% endif %}
			</ul>
		</nav>

		<!-- Main -->
			<div id="main">
				<section class="wrapper style1">
					<div class="inner">
						<!-- 2 Columns -->
							<div class="flex flex-1">
							<div class="col col1">
								<h2>Subsitute Ingredients</h2>
								<h4>Recipe</h4>
								<h5>Ingredient Options</h5>
								<h1></h1>
								<div style="float: left; width: 100%;">
									<ul>
										{% for ingredient in df_ingredient_NDB %}
											<li> {{ ingredient[0] }}, {{ ingredient[1]}} </li>
										{%endfor%}
								  </ul>
							  </div>
							</div>
							</div>
							<p></p>
							<div>
							<form method=post action="">
									Choose the NBD Number of Ingredient to Subsitute: {{form.ingredientSub}}
									<p></p>
										Choose a Type of Food to Replace With (Choose from list):
										{{form.foodType(class='dropdown-content hide')}}
									<p></p>
									<input type=submit value="See Potential Replacement Ingredient">
									<!-- </form> -->
							</div>
							<!-- <form method=post action=""> -->
								<p></p>
								{% if display_bottom == True %}
								<h4>Choose What you Would like to Replace the Ingredient With</h4>
								<div style="float: left; width: 100%;">
									<ol>
										{% for choice in potential_switches %}
										<li>  {{ choice }}</li>
										{%endfor%}
									</ol>
									{{form.replacementChoice()}}
								</div>
									<p></p>
											<p><input type=submit value="Replace Ingredient"></p>
												<h3>See how the Ingredent change will effect your nutriet goals</h3>
												<p>Note this image is a placeholder. Will be updated</p>
												<img src="{{ url_for('static', filename='images/test_replacement_radar_plot.png') }}" alt="" />
									      <p></p>
									{% else %}
										<h5><font color="blue">{{ msg_print }}</font></h5>
									{% endif %}
							<section class="wrapper style1">
									<a href = "/recipe_center" class="button">Back to Recipe Center</a>
									<a href = "/user_profile" class="button">Back to User Profile</a>
							</section>
							<p></p><p></p>
							</form>


						</div>
					</div>
			</div>
	</body>
</html>
