
<!DOCTYPE HTML>
<!-- TODO: Update this page -->

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<!-- <div class="logo"><a href="index.html">Urban <span>by TEMPLATED</span></a></div> -->
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href = "/index">Home</a></li>
				<li><a href = "/about">About the Project </a></li>
				{% if current_user.is_anonymous %}
				<li><a href="/login">Login</a></li>
				{% else %}
				</li><a href="/user_profile">User Profile</a></li>
				<li><a href="/recipe_recommendation">Recipe Selection</a></li>
				<li><a href="/shopping_list">Shopping List</a></li>
				<li></li><a href="/logout">Logout</a></li>
				{% endif %}
			</ul>
		</nav>

		<!-- Main -->
			<div id="main">
				<section class="wrapper style1">
					<div class="inner">
						<!-- 2 Columns -->
							<div class="flex flex-1">
							<div class="col col1">
								<h2>Subsitute Ingredients</h2>
								<h4>Recipe Options</h4>
								<h1></h1>
								<div style="float: left; width: 70%;">
									<ul>
										{% for desc in df_ingredient_NDB.Description %}
											<li> {{ desc }} </li>
										{%endfor%}
									</ul>
								</div>
								<div style="float: left; width: 30%;">
									<ul>
										{% for NDB_NO in df_ingredient_NDB.NDB_NO %}
											<li> {{ NDB_NO }} </li>
										{%endfor%}
										<form method=post action="">
										{{form.ingredientSub}}
										<input type=submit value="Replace Ingredient">
									</form>

									</ul>
				       <p></p>

			</div>
	</body>
</html>
