
<!DOCTYPE HTML>

<html>
	<head>
		<title>RootCellar: User Profile New</title>
		<!-- <title>Generic - Urban by TEMPLATED</title> -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href = "/index">Home</a></li>
					<li><a href = "/about">About the Project</a></li>
					{% if current_user.is_anonymous %}
					<li><a href="/login">Login</a></li>
					{% else %}
					<li><a href="/logout">Logout</a></li>
					{% endif %}
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">
        <section id="banner">
          <div class="inner">
            <header>
              <h1>Hello {{ user }}!</h1>
              <p>Welcome to Root Cellar</p>
            </header>
          </div>
        </section>

        <section class="wrapper style1">
          <div class="inner">
            <!-- 2 Columns -->
              <div class="flex flex-2">
                <div class="col col1">
                  <div class="image round fit">
                    <a class="link"><img src="{{ url_for('static', filename='images/produce.jpg') }}" alt="" /></a>
                  </div>
                </div>
              <div class="col col2">
                <h3>Set Up Your Profile</h3>
                  <p>Let's get some initial details so we can find the perfect nutritional meal plan for you!</p>
                  <!-- <a href = "https://goo.gl/forms/4vlsZmaRuwUcCiam2" class="button">Set Up My Preferneces</a> -->
									<a href = "/preference_survey" class="button">Set Up My Preferences</a>
                </div>
              </div>
            </div>
          </section>

			</div>

	</body>
</html>
